<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <label>Server Name: </label>
        <!-- <input 
          type="text"
          class="form-control"
          (input)="onUpdateServer($event)" 
        > -->
        <input 
          type="text"
          class="form-control"
          [(ngModel)]="serverName" 
        >
        
        <button class="btn btn-primary" disabled>
          Add server
        </button>
        <button 
          class="btn btn-primary" 
          [disabled]="!allowServerCreation"
          (click)="onCreateServer()"
        >
          Add server
        </button>
        <p style="background-color: lightgreen">
          {{ serverCreationStatus }}
        </p>  
        <!-- These don't work
          <p [style]="'background-color: lightgreen'">
          {{ serverCreationStatus }}
        </p>  
        <p [style]="{background-color: 'lightgreen'}">
          {{ serverCreationStatus }}
        </p>
        <div [style]="{'background-color': 'lightgreen'}">
          new one {{ serverCreationStatus }}
        </div>-->

        <!-- Appears to cause a security issue that Angular blocks
        <div [style]="styleObjectString">
          {{ serverCreationStatus }}
        </div> -->
        <div [style.color]="'red'">
          {{ serverCreationStatus }}
        </div>
        <div [style.background-color]="'red'">
          {{ serverCreationStatus }}
        </div>
        
      <p [ngStyle]="{'background-color': 'lightgreen'}">
        {{ serverCreationStatus }}
      </p> 
      <p [ngStyle]="{backgroundColor: 'lightgreen'}">
        {{ serverCreationStatus }}
      </p> 
        

    </div>
  </div>
</div>